[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==2.0.0"
tensorflow = "==2.12.0"
transformers = "==4.25.1"
streamlit = "*"
seaborn = "*"
pandas = "*"
joblib = "*"
scikit-learn = "*"
matplotlib = "*"
langchain = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
